[user]
	name = idwangmo
	email = idwangmo@protonmail.com
[core]
  editor = lvim
	autocrlf = input
	quotepath = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = master
