[user]
	email = idwangmo@protonmail.com
	name = idwangmo
[core]
	editor = nvim
	ignoreCase = false
	autocrlf = input
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
